* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
    font-size: 60%;
}
body {
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
}
//mixing
@mixin text_center {
    display: flex;
    justify-content: center;
    align-items: center;
}
//var

$main_color: #f17d3c;
$main_color_bg: #fde9db;

.main_container {
    max-width: 450px;
    margin: auto;
}
.section {
    border: 0.5rem solid $main_color;
    margin-top: 2rem;
    padding: 1rem;
}
.section_container {
    padding: 1rem;
}
.h3 {
    color: $main_color;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 2.5rem;
}

header {
    background-color: $main_color;
    border: 0.5rem solid $main_color;
    .header_top {
        background-color: white;
    }
    .views {
        @include text_center();
        background-color: $main_color;
        width: 50%;
        margin: auto;
        color: white;
        border-radius: 0rem 0rem 1rem 1rem;
        span {
            margin: 0rem 0.4rem;
            font-size: 1.5rem;
        }
    }
    .owner_img {
        img {
            border: 0.2rem solid black;
            border-radius: 1rem;
            height: 140px;
            width: 140px;
            display: block;
            margin: 2rem auto;
        }
    }
    .name_comp {
        text-align: center;
        width: 80%;
        margin: 2rem auto;
        h5 {
            font-weight: bold;
            color: #505050;
            line-height: 2.2rem;
        }
        hr {
            width: 40%;
            margin: 1rem auto;
            border: 1px solid $main_color;
        }
        span {
            font-size: 1.2rem;
        }
    }
    .icons {
        .row {
            .col {
                font-size: 1.3rem;
                text-align: center;
                padding: 1rem;
                background-color: #505050;
                opacity: 0.9;

                a {
                    color: white;
                    i {
                        margin-right: 1rem;
                    }
                }
            }
            .col:hover {
                opacity: 1;
            }
        }
    }
    .header_main {
        background-color: $main_color;
        padding: 1rem;
        .contact {
            .row {
                .col {
                    color: white;
                    margin-top: 2rem;
                    font-size: 1.5rem;
                    a {
                        color: white;
                    }
                    i {
                        font-size: 2rem;
                        height: 3.5rem;
                        background-color: white;
                        color: $main_color;
                        border-radius: 0.4rem;
                        width: 3.5rem;
                        padding-top: 0.5rem;
                        text-align: center;
                        margin-right: 2rem;
                    }
                }
            }
        }
    }
    .header_fot {
        .row {
            margin-top: 1.6rem;
            .col {
                margin-top: 1rem;
                .s1 {
                    border-bottom: 0.5rem solid #505050;
                    background-color: #955d35;
                    padding: 1rem;
                    text-align: center;
                    font-size: 1.6rem;
                }
                a {
                    color: white;
                    i {
                        margin-right: 1rem;
                    }
                }
            }
        }
    }
}
//end of header

.about_us {
    tr{
        border:none;
        td{
            margin:0rem;
            padding: 0.5rem 0rem;
            .td_inner_class{
                display: flex;
                position: relative;
                .table_row_label_separator{
                    position: absolute;
                    right:2%;
                    font-weight: bold;
                    font-size: 1.5rem;
                }
            }
        }
    }
    .pera{
        margin:0.8rem 0rem;
    }
    ul{
        li{
            font-size: 1.5rem;
        }
    }
        
    h5 {
        margin: 2rem 0rem 1.3rem 0rem;
        font-weight: bold;
        font-size: 2.6rem;
    }
    p {
        font-size: 1.4rem;
    }
    a {
        font-size: 1.4rem;
    }
}
//end of about_us

.products_services {
    .card {
        box-shadow: none;
        padding: 2rem 2rem;
        text-align: left;
        background-color: $main_color_bg;
        .card-content {
            margin: 0rem;
            padding: 0rem;
        }
        h5 {
            font-weight: bold;
            font-size: 2rem;
            text-transform: uppercase;
        }
        p {
            font-size: 1.6rem;
            margin: 1rem 0rem;
        }

        .btn {
            background-color: $main_color;
            margin-top: 2rem;
            outline: 5px solid white;
        }
    }
}

.gallery {
    img {
        width: 15rem;
        height: 10rem;
        border-radius: 1rem;
        margin-top: 1rem;
    }
}
//end of gallery

.videos {
    .vid {
        padding: 2rem;
        background-color: $main_color_bg;
        iframe {
            width: 100%;
        }
        margin-top: 1rem;
    }
}
//end of videos

.slider {
    .section_container {
        background-color: $main_color_bg;
        .carousel {
            height: 30rem;
        }
    }
}
//end f slider

.payment {
    .section_container {
        background-color: $main_color_bg;
        img {
            width: 40%;
            display: block;
            margin: 2rem auto;
        }
        tr{
            border:none;
            td{
                margin:0rem;
                padding: 0.5rem 0rem;
                .td_inner_class{
                    display: flex;
                    position: relative;
                    .table_row_label_separator{
                        position: absolute;
                        right:2%;
                        font-weight: bold;
                        font-size: 1.5rem;
                    }
                }
            }
        }
        .btn {
            background-color: $main_color;
            display: block;
            margin: 2rem auto;
        }
        p {
            font-size: 1.4rem;
        }
    }
}

.enquiry {
    background-color: $main_color_bg;
    form{
        margin-top: 4rem;
        .form-field{
            label{
                font-size: 15px;
                color: black;
                margin-top: 1rem;
            }
            .btn{
                margin-top: 1rem;
                background-color: $main_color;
            }
        }
    }
}

.copyright{
    margin: 1rem 0rem 8rem 0rem;
    font-size: 1.8rem;
    text-align: center;
    a{
        color: black !important;
    }
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 1;
    border-top:4px solid var(--main-c);
    background-image: url("../img/bg.jpg");
}

.footer-menu {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(255, 251, 251, 0.1) inset;
    width: 100%;
    height: auto;
    padding: 0px;
    margin: 0;
    list-style-type: none;
    overflow: auto;
    position: relative;
    background: white;
    /* border-radius: 20px 20px 0 0; */
    display: flex;
    background-position: left center, right center, left center, right center;
    background-repeat: no-repeat;
    background-color: white;
    background-size: 20px 100%, 20px 100%, 20px 100%, 20px 100%;
    background-attachment: local, local, scroll, scroll;
}

.footer-menu li {
    flex: 1;
    min-width: 80px;
}

.footer-menu .footer-menu-link {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 6px;
    box-sizing: border-box;
    color: #555555;
}

.footer-menu .footer-menu-icon {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--theme-color);
}

.footer-menu .footer-menu-text {
    font-size: 12px;
}
.footer-text-p{
    color:black;
    text-align: center;
    margin:0px;
    padding: 0px;
    font-weight: bold;
}
